
   
        body{
            background-color:#3E505C;
            
        }
        button
        {
            width:220px;
            height:100px;
            border-style:double ;
        }
        .demo1 
        {
    
    position:fixed;
    top:50px;
    left:170px;       
     display:grid;
            grid-gap:90px 90px;
            grid-template-columns:auto auto auto auto;
            padding:10px;
width:100px;
height:100px;
color:pink;
        }
        #dem1,#dem6,#dem11,#dem16
        {
            background-color:lightpink;
        }
        #dem2,#dem7,#dem12
        {
            background-color:palegoldenrod;
        }
        #dem3,#dem8
        {
            background-color:lavender;
        }#dem4
        {
            background-color:paleturquoise;
        }
        #dem5,#dem10,#dem15
        {
            background-color:lightskyblue;
        } 
        #dem9,#dem14
        {
            background-color: lightcyan;
        }
        a{
           font-size:17px;
            color:black;
            text-decoration: none;

        }
   

